# dependencies
node_modules
.bun

# testing
coverage
.nyc_output

# next.js
.next/
out/

# production
build
dist

# misc
.DS_Store
*.pem
.env*
!.env.example

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# documentation
README.md
docs/

# CI/CD
.github
.gitlab-ci.yml

# Others
.prettierrc
.eslintrc.json
.markdownlint.json
